<!-- Begin Why Us Section -->
<section id="mortage" class="section">
<div class="section-inner">
  <div class="container section-content">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <br />
          <h2 class="main-title">Get priority access</h2>
          <br />
          <h3 class="sub-title">
            <i class="fa fa-check"></i> Leave us your email
          </h3>
          <% if params[:welcome] %>
          <h3 class="sub-title">
            <i class="fa fa-check"></i> Thank you! You are<br/> now on the waiting list
          </h3>
          <br />
          <h3 >Eager to start buying your home?</h3>
          <br />
          <br />
          <h4>Move yourself up the waiting list by inviting <br/>
          
            your friends and family. The more you share <br/>
          
          the sooner you’ll get access.</h4>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <br />
          <%= mail_to "", "Email", {subject: "Have a look at StrideUp!",
                                    body: "I just registered with StrideUp! They are building a new affordable way to do home finance - one 
                                    that doesn’t involve any banks or mortgage brokers. Interested in buying a home or investing in 
                                    property? You can register for free at [bit.ly/... ]",
                                    class: "btn btn-lg btn-block btn-primary"} %> 
          <br/>
          <br />
          <a href="" class="btn btn-lg btn-block btn-primary fb-share"><i class="fa fa-facebook"></i>  Facebook</a>
          <br/>
          <br />
          <%= link_to @twitter_share_url, title: "Share on Twitter", target: "_blank", class: "btn btn-lg btn-block btn-primary" do %>
            <i class="fa fa-twitter"></i>  Twitter
          <% end %>

        <% end %>
      </div>
      <!-- //.section-title -->
    </div>
    <!-- //.col-md-12 -->
  </div>
    <br />    
    <!-- //.row -->

    <% unless params[:welcome] %>
      <!-- Begin Content Boxes -->
      <div class="row">
        <div class="col-md-6 col-xs-12 text-left col-md-offset-3">
          <strong >I'm interested in: </strong>
          <br/>
          <br/>
          <%= form_for(:subscribe, url: subscribe_url(), method: :post, remote: true, html: {class: "text-center"}) do |f|%>
            <div class="btn-group btn-group-justified" id="btn-form-options" data-toggle="buttons">
              <label class="btn btn-lg btn-primary active">
                <input type="radio" name="options" id="homebuying" value="homebuying" autocomplete="off" checked> Homebuying
              </label>

              <label class="btn">
                OR
              </label>

              <label class="btn btn-lg btn-primary">
                <input type="radio" name="options" id="investing" value="investing" autocomplete="off"> Investing
              </label>
            </div>
            <br/>
            <br/>
            <% if params[:subscribe] and params[:subscribe][:email] %>
              <%= f.hidden_field :email, value: params[:subscribe][:email] %>
            <% else %>
              <div class="form-group">
                <%= f.email_field :email, class: "form-control input-lg", size: 40, placeholder:"your@email.com" %>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.text_field :fullname, class: "form-control input-lg", size: 40, placeholder:"Your full name" %>
            </div>
            <div class="form-group">
              <%= f.text_field :postcode, class: "form-control input-lg", size: 40, placeholder:"Postcode" %>
            </div>
            <br/>
            <button type="submit" class="btn btn-block btn-lg btn-default btn-rj">Join the waitlist</button>
          <% end %>

        </div> 
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->     
      </div>
    <% end %>
    <!-- //End Content Boxes -->      
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Why Us Section -->


